table{
    width: 100%;
    margin: auto;
}

.dvdEditForm{
    width: 100vw;
}

.body{
    overflow-x: hidden;
}

.login-section {
    margin: auto;
    align-content: center;
}

#login {
    align-content: center;
    text-align: center;
    margin: auto;
}

.login-table {
    max-width: 25rem;
}